<h1>Editing Book</h1>
<% if flash[:notice] %>
	<div class="flash">
    	<%= flash[:notice] %>
    </div>
<% end %>

<%= render 'layouts/error_messages', model: @book %>
<%= form_for(@book) do |f| %>
	<h4>Title</h4>
	<%= f.text_field :title %>
	<h4>Body</h4>
	<%= f.text_area :body %>
	<%= f.submit 'Update Book' %>
<% end %>


<%= link_to "Show", book_path(@book) %> | <%= link_to "Back", books_path %>